@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    
}
#navigat{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 16%;
    left: 0px;
    top: 0px;

    background: #DBDBDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button, input{
    outline: none;
    border-width: 0px !important;
}

.logo{
    /*padding-top: 10%;*/
    display: flex;
    margin-top: 1%;
}

.line{

}

.About:hover{
    color: red;
}

a{
    text-decoration: none;
}

.Contacts:hover{
    color: red;
}

.WorldGuide{
    display: flex;

    padding-left: -4%;
    margin-top: 10%;
    padding-top: 4%;

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #7E7E7E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Contacts{
    display: flex;

    margin-left: 36%;
    margin-top: -2%;

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #7E7E7E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.WorldGuide{
    display: flex;

    margin-left: 6%;
    margin-top: -8%;

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #636363;

    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.About{
    display: flex;

    margin-left: 25%;
    margin-top: -2.5%;

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #7E7E7E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.Name{
    position: absolute;
    width: 40%;
    height: 10%;
    margin-left: 30%;
    margin-top: 10px;

    background: #DEDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#PostName{
    position: absolute;

    display: flex;
    width: 98%;
    height: 30%;
    margin-left: 0.5%;
    margin-top: 10%;

    background: #DEDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 15px;
    font-size: 60px;
    line-height: 44px;

    font-style: normal;
    font-weight: 100;
    font-size: 10;
    line-height: 100%;

    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#intoPostName{
    position: absolute;

    display: flex;
    width: 98%;
    height: 30%;
    margin-left: 10%;
    margin-top: 1%;

    font-style: normal;
    font-weight: 100;
    font-size: 60%;
    line-height: 100%;

    align-items: center;
    text-align: center;

    color: #7E7E7E;
}