@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
	font-family: 'Quicksand', sans-serif;
}

div.editText{
    position: absolute;
    width: 98%;
    height: 74%;
    left: 18px;
    bottom: 30px;
    
    background: #F1F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

div.Name{
    position: absolute;
    width: 40%;
    height: 10%;
    margin-left: 30%;
    margin-top: 10px;

    background: #DEDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

p.AddNew{
    position: absolute;
    width: 50%;
    height: 20%;
    margin-left: 30%;
    margin-top: 3%;

    /*font-family: Quicksand;*/
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #636363;
}


#PostNameForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 18%;
    margin-top: 8%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

p.PostNameText{
    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 10%;
    margin-top: 8%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#PlaceForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 68%;
    margin-top: 8%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

p.PlaceText{
    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 63%;
    margin-top: 8%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#DescrForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 80%;
    height: 34%;
    margin-left: 15%;
    margin-top: 17%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: left;
    text-align: left;

    color: #7E7E7E;
}

p.Descrpiption{
    position: absolute;
    width: 15%;
    height: 18%;
    margin-left: 5%;
    margin-top: 15%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#MaxPeopleForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 18%;
    margin-top: 13%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

p.MaxPeopleText{
    position: absolute;
    width: 15%;
    height: 10%;
    margin-left: 10%;
    margin-top: 12.4%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#PriceForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 68%;
    margin-top: 13%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

p.PriceText{
    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 63%;
    margin-top: 13%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

#LangForm{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 15%;
    height: 7%;
    margin-left: 15%;
    margin-top: 30%;

    background: #E4E4E4;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

p.Language{
    position: absolute;
    width: 15%;
    height: 18%;
    margin-left: 7%;
    margin-top: 28%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #7E7E7E;
}

.Button{
    outline: none;
    outline-offset: none;
    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 63px;
    margin-left: 80%;
    margin-top: 30%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #7E7E7E;

    background: #DEDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.navigat{
    position: fixed;
    width: 100%;
    height: 16%;
    left: 0px;
    top: 0px;

    display: grid;
    grid-template-columns: repeat(8, auto);

    background: #DBDBDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    padding-top: 10%;
    padding-left: 15%
}

.WorldGuide{
    

    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 47px;

    color: #636363;

    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.Line{
}

.About{


    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #7E7E7E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Line2{

}

.Contacts{

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 44px;

    color: #7E7E7E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


button, input{
    border-width: 0px !important;
}